{% extends "base.html" %} {% block title %} Home {% endblock %}
{% block content %}
<div class="homeHeader">
    <h1>Welcome to The Natural Path</h1>
</div>

<div class="choices">
    <div class="about">
        <h2>About this site</h2>
        <div class="aboutPara">
            <p>This site is for anyone who has seen a traditional MD and have had no luck.
            </p>

            <p>Naturopaths can help with many different conditions, like MDs, so are well equipped to handle most medical concerns that you may have.</p>

            <p>This site is a resource where naturopaths and naturopathic doctors have registered there practices, to help people improve their health.</p>
        </div>
    </div>
    <div class="ndDef">
        <h2>What is a naturopathic doctor?</h2>
        <div class="defPara">
            <p>
                A naturopathic doctor (ND) is a healthcare professional who emphasizes natural and holistic approaches to healing, combining traditional and alternative therapies to promote overall well-being and address the root causes of health issues.</p>

            <p>naturopathic doctors are also well versed in Western medicinal treatments, and can provide such services if necessary.</p>

            <p>An ND could be a good fit for you if you've found that conventional medicine hasn't worked as you would like.</p>
        </div>
    </div>
</div>


{% endblock %}

