{% extends "base.html" %} {% block title %} Home {% endblock %}
{% block content %}
<div class="registerHeader">
    <h1>Login to manage your profile</h1>
</div>

<div class="formContainer">
    <form class="registerForm" action="login/" method="post">
        
        <input type="email" id="email" name="email" required>
        <label for="email">email address</label>

        <input type="password" id="password" name="password" required>
        <label for="email">password</label>

        <button type="submit" class="registerBtn">Submit</button>

    </form>
</div>
{% endblock %}